#title{
	border-radius: 5px 5px 0 0;
	background: #E6E9ED;
	width: 100%;
}
#more {
	background: #E6E9ED;
	width: 100%;
	border-radius: 0 0 5px 5px;
	text-align: right;
}
#title p, #more a{
	margin: 0;
	padding: 0;
	padding-right: 20px;
	line-height: 40px;
	text-decoration: none;
	color: #434a54;
}
#b_container table{
	border-spacing: 0;
	width: 100%;
	border-width: 1px;
	border-right-style: solid;
	border-right-color: #DDDDDD;
	border-left-style: solid;
	border-left-color: #DDDDDD;
}
#b_container tr td{
	padding: 8px 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
#b_container tr:last-child td{
	border-bottom-width: 0px;
}
#b_container tr td:nth-child(1){
	width: 80%;
}
#b_container tr td:nth-child(2){
	text-align: right;
	width: 20%;
}

#b_container tr td a{
	font-size: 18px;
	text-decoration: none;
	color: #434a54;
}
#b_container tr td a:hover{
	text-decoration: underline;
}
