.name_card{
	width: 560px;
	height: 260px;
	background: white;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}
.name_card .wrapper{
	width: 400px;
	height: 200px;
	padding: 60px 40px 0px 40px;
	border-right: 20px solid #E71620;

}
.name_card p{
	text-indent: 0;
	line-height: 20px;
	letter-spacing: 2px;
}
.name_card p:after{
	font-family: FontAwesome;
	margin-left: 5px;
	color: #E71620;
	top: -5px;
	position: relative;
}
.name_card p.address:after{
	content: "\F018";
}
.name_card p.email:after{
	content: "\F0E0";
}
.name_card h2{
	margin-bottom: 60px;
	letter-spacing: 5px;
}
.name_card h2 span{
	color: #434a54;
	font-size: 18px;
	margin: 0 20px;
	letter-spacing: 2px;
}