#nav {
	list-style: none;
	position: absolute;
	left: -210px;
	top: 50px;
	z-index: 100;
}
#nav li {
	margin-left: 0;
	position: relative;
	left: 0px;
	transition: left 0.3s;
}
#nav li a {
	color:white;
	font-size: 20px;
	display: block;
	width: 250px;
	line-height: 50px;
	text-align: right;
	padding-right: 20px;
	text-decoration: none;
}
#nav li a:after{
	font-family: FontAwesome;
	margin-left: 50px;
}
#nav li a:hover {
	text-decoration: none;
}
#nav li:nth-child(1) a {
	background: #F4739A;
}
#nav li:nth-child(1) a:after {
	content: "\F015";
}
#nav li:nth-child(2) a {
	background: #5ABE8A;
}
#nav li:nth-child(2) a:after {
	content: "\F03E";
}
#nav li:nth-child(3) a {
	background: #FBA946;
}
#nav li:nth-child(3) a:after {
	content: "\F02C";
}
#nav li:nth-child(4) a {
	background: #37363C;
}
#nav li:nth-child(4) a:after {
	content: "\F087";
}
#nav li:nth-child(5) a {
	background: #3FA9F5;
}
#nav li:nth-child(5) a:after {
	content: "\F127";
}
#nav li:hover {
	left: 210px;
}
#nav .current {
	left: 20px;
}

#scrollbar_track{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10px;
	background: rgba(0,0,0,0.25);
	z-index: 100;
}
#scrollbar_handle {
	display: block;
	position: relative;
	top: 0;
	width: 50px;
	height: 10px;
	background: black;
	transition: top 0.2s, height 0.2s, background 0.2s, border-radius 0.2s;
	z-index: 100;
}
#scrollbar_handle:hover {
	top: -50px;
	height: 60px;
	background: #4474B5;
	border-radius: 25px 25px 0 0;
}

#downnav{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
}
#downnav ul{
	list-style: none;
}
#downnav ul li{
	float: left;
}
#downnav ul li a{
	display: block;
	color: #CCD1D9;
	width: 110px;
	height: 35px;
	background: #434A54;
	margin-right: 10px;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
	border-radius: 5px 5px 0 0;
	transition: all 0.2s;
	
}
#downnav ul li:nth-last-child(1) a{
	margin-right: 0;
}

#downnav ul li a:hover{
	color: #434A54;
	background: #CCD1D9;
}